body {
    font-family: cursive;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    color: rgb(66,69,86);
    background-image: url('https://imgur.com/9WCCrv5.jpg'); 
    background-size: cover;
    font-weight: 100;
    margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}

h1{
  font-size: 60px;
  line-height: 150px;
  font-weight: 90;
  margin: 0;
}

p {
  font-size: 36px;
  margin: 0
}

.form {
  font-family: cursive;
	line-height: 2.0;
  width: 200;
	border: none;
	border-bottom: 2px solid #AEB6BF;
	margin-top: 135px;
	font-size: 20px;
	padding: 5px 10px;
	background: transparent;
}

button {
    font-family: cursive;
    line-height: 2.0;
    border:3px solid white;
    font-size: 20px;
    color: rgb(66,69,86);
    padding: 5px 30px;
    background: rgba(255,255,255,1.0);
    border-radius: 5px;
    opacity: 0.5;
}

.error{
  margin: 0;
  text-align: center;
  font-family: cursive;
  font-size: 24px;
  color: #943126;
}

input[type=text]:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.8);
}

