<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/complete.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>Thanks for the registration!</h1>
        <p class="lead">We hope to see you in our future events.</p>
        <br/><br/><br/><br/>
        <form method="POST" action='/register'>
            <button>Back to sign up</button>
        </form>
    </div>
</div>
</body>