<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/events.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>Welcome!</h1>
        <p class="lead">Please mark the events that interest you. </p>
        <br/><br/><br/><br/><br/>
        <form method="POST" action='/events_marked'>
            <label style="font-size:20px" for="appr">Poetry Appreciation (marked by <strong><%= count_appr %></strong>):</label>
                <select id="events" name="events">
                <option value="yes">I am interested</option>
                <option value="no">No thanks</option>
                </select><br/><br/>
            <label style="font-size:20px" or="trip">Fieldship for Inspirations (marked by <strong><%= count_trip %></strong>)</label>
                <select id="events" name="events">
                <option value="yes">I am interested</option>
                <option value="no">No thanks</option>
                </select><br/><br/>
            <label style="font-size:20px" for="pal">Finding a Poem Pal (marked by <strong><%= count_pal %></strong>)</label>
                <select id="events" name="events">
                <option value="yes">I am interested</option>
                <option value="no">No thanks</option>
                </select><br/><br/>
            <label style="font-size:20px" for="learn">Learning to Write Chinese Poem (marked by <strong><%= count_learn %></strong>)</label>
                <select id="events" name="events">
                <option value="yes">I am interested</option>
                <option value="no">No thanks</option>
                </select><br/><br/>
            <button>Mark</button>
        </form>
    </div>
</div>
</body>