<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>Join The Chinese Poetry Society Today!</h1>
        <p class="lead">Register to become a member with <strong><%= count %></strong> others. </p>
        <form method="POST" action='/register'>
            <input type="text" class="form" name="email" placeholder="Email">
            <input type="text" class="form" name="first_name" placeholder="Name (first)">
            <input type="number" class="form" name="age" placeholder="Age">
            <button>Join Now</button>
        </form>
        <p class="error"><%= err_msg %></p>
    </div>
</div>
</body>